<h1>Admin dashboard</h1>

<table class="table">
  <thead>
	<tr>
    <th>Name</th>    
    <th>Number of users</th>
		<th>Group admins</th>
		<th>Public</th>
    <th></th>
  </tr>
	</thead>
	<tbody>
<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group_path(group) %></td>
		<td><%= group.users.length %></td>
		<td>
			<% group_admins = GroupAdmin.get_by_group(group.id)%>
			<% group_admins.each do |group_admin| %>
				<%= group_admin.user.name %>
				<% unless group_admins.last == group_admin %>
				,
				<% end %>
			<% end %>
		</td>
    <td>
			<% if group.public %>
				<i class="icon-ok"></i>
			<% end %>			
		</td>
    <td>
			<%= link_to group, confirm: 'Are you sure you want to delete this group?', method: :delete do %>
				<i class="icon-remove"></i>
			<% end %>
		</td>
  </tr>
<% end %>
	</tbody>
</table>