<hr />
<div class="row-fluid" id="<%= group.id %>">
  <div class="span5">
		<h3><%= group.name %></h3>
		<p><%= group.description %></p>
	</div>	
	<div class="span4">
		<%= show_sports(group) %>
	</div>
	<div class="span3">
		<p>Apply to this group</p>
	</div>
</div>
