<br />
<br />
<br />
<br />
<br />
<br />


<div class="row-fluid">
  <div class="span6">
			<h1><center>Our Workouts</center></h1>
			<br />
			<br />
			<p><center><%= link_to 'Sign in', new_user_session_path, :class => "btn btn-primary btn-large" %> or <%= link_to 'Sign up', new_group_path, :class => "btn btn-primary btn-large" %></center></p>
	</div>
	<div class="span6">
		<h1>Image</h1>
	</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div class="row-fluid">
  <div class="span4">
		<h2>What?</h2>
	</div>
	<div class="span4">
		<h2>Who?</h2>
	</div>
	<div class="span4">
		<h2>How?</h2>
	</div>
</div>
<br />
<br />
<hr/>
<div class="row-fluid">
  <center>Designed and implemented in Denmark by <a href="http://olesennielsen.dk">Olesen & Nielsen</a></center>
</div>