<h2>What?</h2>
<br />

<div class="row-fluid">
  <div class="span6">
		<p>We at Olesen &amp; Nielsen love to workout and we do a lot of our workouts together with other people. We hope that ourworkouts.com will help you and your group of friends, colleageus, or family members can plan your daily training. With timelines to keep track of goals and milestones you will always succeed with your goal.</p>

		<p>Below is our calendar at Olesen &amp; Nielsen, so you can see that we are training hard at the same time as helping you plan your goals and workouts:</p>
	</div>	
	<div class="span6">
		<%= image_tag("andersemiltraining.jpg")%>
		<p>Anders and Emil training together in Norrköping, Sweden</p>
		
	</div>
</div>
<br />

<p>Calendar with @events = Event.where(:group_id => 1)</p> 