<h2>What?</h2>
<br />

<div class="row-fluid">
  <div class="span6">
		<p>We at Olesen &amp; Nielsen love to workout and we do a lot of our workouts together and know how much fun that is. We hope that ourworkouts.com will help you and your group of friends, colleagues, or family members can plan your daily training. With timelines to keep track of goals and milestones you will always succeed with your goal.</p>
		
		<p>ourworkouts.com takes advantage of the possibilities of the Internet, so you can plan your next workout whenever you are online. No matter how many groups you join and create you will always get all of your groups' workouts in your workout calendar that you collaborated on by adding your own workouts.</p>

		<p>Below is our calendar at Olesen &amp; Nielsen, so you can see that we are training hard at the same time as helping you plan your goals and workouts:</p>
	</div>	
	<div class="span6">
		<%= image_tag("andersemiltraining.jpg", :class => "img-rounded")  %>
		<p>Anders and Emil training together in Norrköping, Sweden</p>
	</div>
</div>
<br />

<p></p> 
