<tr id="<%= id %>">
	<td><%= user %></td>
	<td><%= joined.strftime("%B %d %H:%M") %></td>
	<td>
		<%= link_to remove_entry_path(:id => id), :remote => true, :method => :post, :id => "remove" do %>
							<i class="icon-remove"></i>
		<% end %>	
	</td>
</tr>