<div id="<%= event_message.id %>">
<p>By <strong><%= event_message.user.name %></strong> on <%= event_message.created_at.strftime("%B %d %H:%M") %></p>
<p><strong><%= event_message.body %></strong></p>
<hr />
</div>