<div id="<%= discussion_message.id %>">
<p>By <strong><%= discussion_message.user.name %></strong> on <%= discussion_message.created_at.strftime("%A %B %d %Y - %H:%M") %></p>
<p><strong><%= discussion_message.body %></strong></p>
<hr />
</div>