#initial-message {
	background-color:#F8F8F8;	
}

#sub-fields {
	text-align:justify;
	font-size:115%;
}

#workout_tip {
	font-size:115%;
	border: solid 1px #FF9900;
	padding:15px;
	margin-top:30px;
}

#tip_author {
	font-size:100%;	
}