#initial-message {
	background-color:#F8F8F8;
	padding:10px;	
}

#sub-fields {
	text-align:justify;
	font-size:115%;
}

#workout-tip {
	font-size:115%;
	border: solid 1px #FF9900;
	padding:15px;
	margin-top:15px;
}

#tip-author {
	font-size:100%;	
}

#discussion-messages {
	padding:10px;
}

.sign-up-container {
}

.sign-up-container .btn {
	font-size:24px;
}