#timeline-container {
	height:200px;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
}

#timeline-bar {
	background-color:#646060;
	border-radius:5px;
}

#countdown {
	color:#646060;
}

.no-event {
	content: "";
	min-height: 100%;
	background-color:#FFF;
	height: 100%;
	float:left;
}

.event {
	content: "";
	min-height: 100%;
	background-color:#FF9900;
	height: 100%;
	float:left;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
}

.milestone-event {
	content: "";
	min-height: 100%;
	background-color:#E00000;
	height: 100%;
	float:left;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
}

#eventPopupContainer
{
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index: 20000;
}

#eventPopupContent
{
    background-color: #FFF;
    min-width: 175px;
    min-height: 50px;
}
