  <div class="span6">
    <h2>Group invitations</h2>
    <br />
    <% if @invitations.empty? %>
    <p> <%= @invitations_string %></p>
    <% else %>
    <table class="table">
      <thead>
	<tr>
	  <th>Group Name</th>
	  <th>Inviter</th>
	</tr>
      </thead>
      <tbody>
	<% @invitations.each do |invitation| %>
	<tr>
	  <td><%= invitation.group.name %></td>
	  <td><%= invitation.inviter.name %></td>
	  <td><%= button_to "Join", {:action => "add_user", :id => invitation.group.id }, :class => "btn btn-success" %>
	</tr>
	<% end %>			
      </tbody>
    </table>
    <% end %>
  </div>

